[submodule "src/commonml"]
	path = src/vendor/commonml
	url = git@git.isis.vanderbilt.edu:ahmedi/commonml.git
[submodule "src/vendor/stable-baselines3"]
	path = src/vendor/stable-baselines3
	url = https://github.com/DLR-RM/stable-baselines3
[submodule "src/vendor/multirotor"]
	path = src/vendor/multirotor
	url = git@git.isis.vanderbilt.edu:ahmedi/multirotor.git
[submodule "src/vendor/mpc.pytorch"]
	path = src/vendor/mpc.pytorch
	url = git@github.com:hazrmard/mpc.pytorch.git
[submodule "src/vendor/py-scurve"]
	path = src/vendor/py-scurve
	url = git@github.com:hazrmard/py-scurve.git
[submodule "src/vendor/garage"]
	path = src/vendor/garage
	url = https://github.com/rlworkgroup/garage
[submodule "src/vendor/filters_book"]
	path = src/vendor/filters_book
	url = git@github.com:rlabbe/Kalman-and-Bayesian-Filters-in-Python.git
